<h1>ورود به حساب کاربری</h1>
<p>برای استفاده از امکانات سایت باید ابتدا وارد حساب کاربری خود شوید.</p>


<div class="card">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user" || class="pi pi-mobile"></i>
        </span>
        <input type="text" pInputText placeholder="نام کاربری یا شماره تلفن همراه" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
        </span>
        <input type="password" pInputText placeholder="رمز عبور" />
    </div>

    <div class="Submit-button">
        <p-button label="ورود" />
        <p-button label="فراموشی رمز عبور" />
    </div>
</div>

<h4>حساب کاربری ندارید؟</h4>
<div class="Submit-button">
    <p-button label="ثبت‌ نام کنید" />
</div>