<header class="search-header" dir="rtl">
  <div class="search-header-container">
    <div class="header-right-section">

      <button type="button" class="header-logo" (click)="goHome()">
        پارس فود
      </button>
    </div>

    <div class="header-search-box">
      <input type="text" class="header-search-input" placeholder="جست‌وجوی غذا، رستوران یا فروشگاه"
        [(ngModel)]="searchText" />
    </div>

    <div class="header-actions">
      <button type="button" class="header-action-button" (click)="openLogin()">
        ورود یا ثبت‌نام
      </button>


      <button type="button" class="cart-summary" (click)="onOpenCart()">
        سبد خرید
        <strong>{{ cartCount }}</strong>
      </button>

    </div>
  </div>
</header>