<h1>ورود به فروشگاه</h1>

<div class="card">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user" || class="pi pi-mobile"></i>
        </span>
        <input type="text" pInputText placeholder="نام فروشگاه یا شماره تلفن همراه مالک" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
        </span>
        <input type="password" pInputText placeholder="رمز عبور" />
    </div>

    <div class="Submit-button">
        <p-button label="ورود" />
        <p-button label="فراموشی رمز عبور" />
    </div>
</div>

<h4>فروشگاه خود را ثبت نکرده اید؟</h4>
<p>در این قسمت می‌توانید فروشگاه خود را جهت ارائه خدمات ثبت کنید.</p>
<div class="Submit-button">
    <p-button label="ثبت‌ فروشگاه" />
</div>