<div class="card">
    <button pButton type="button" class="back-button p-button-text" aria-label="بازگشت به صفحه اصلی" (click)="goBack()">
        <i class="pi pi-arrow-right"></i>
    </button>
    <h1>ثبت‌نام</h1>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input type="text" pInputText placeholder="نام" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input type="text" pInputText placeholder="نام خانوادگی" />
    </div>



    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-mobile"></i>
        </span>
        <input type="text" pInputText placeholder="شماره تلفن همراه" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
        </span>
        <input type="password" pInputText placeholder="رمز عبور" />
    </div>


    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-check-circle"></i>
        </span>
        <input type="password" pInputText placeholder="تکرار رمز عبور" />
    </div>
    <div>
        <p class="terms-text">
            با ثبت‌نام،
            <a href="#" class="terms-link" (click)="$event.preventDefault()">
                شرایط و قوانین
            </a>
            استفاده از پارس فود را می‌پذیرم.
        </p>
    </div>

    <div class="register-actions">
        <button pButton type="button" class="continue-button" (click)="register()">
            ثبت‌نام
        </button>
    </div>
</div>