<header class="search-header">
  <button pButton type="button" class="menu-toggle-btn p-button-text" (click)="onOpenSidebar()">
    <i class="pi pi-bars"></i>
  </button>
  <!-- دکمه سبد خرید -->
  <button pButton type="button" class="cart-button p-button-text" aria-label="مشاهده سبد خرید" (click)="onOpenCart()">
    <i class="pi pi-shopping-cart"></i>
  </button>

  <!-- دکمه انتخاب آدرس-->
  <button pButton type="button" class="address-button p-button-text" (click)="onSelectAddress()">
    <i class="pi pi-angle-down"></i>
    <span>انتخاب آدرس</span>
  </button>

  <!-- کادر جستجو -->
  <div class="search-box">
    <input pInputText type="search" class="search-input" aria-label="جست و جو در پارس فود" autocomplete="off"
      [(ngModel)]="searchValue" (keyup.enter)="onSearch()" />
    <!-- placholder سفارشی -->
    <div *ngIf="!searchValue" class="custom-placeholder">
      <span>جستجو در</span>
      <strong> پارس فود!</strong>
    </div>

    <!-- دکمه جست و جو -->
    <button pButton type="button" class="search-button p-button-text" aria-label="جستجو" (click)="onSearch()">
      <i class="pi pi-search"></i>
    </button>
  </div>
</header>
<app-sidebar></app-sidebar>